/*
  Name: Samuel Macaulay
  File: style.css
  Date: 24 November 2025
  Description: CSS styling for image gallery
*/

html {
  font-family: Arial, Helvetica, sans-serif;
}

body {
  width: 600px;
  margin: 0 auto;
}

.full-img {
  position: relative;
}

.full-img img {
  width: 100%;
}

.thumb-bar img {
  width: 20%;
  cursor: pointer;
  float: left;
}

button {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 8px 12px;
  border: none;
  background: white;
  cursor: pointer;
  font-size: 16px;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0);
}
